<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <cr_settings>
            <activation>
                <enable>0</enable>
            </activation>
        </cr_settings>
        <carriers>
            <cr_homerunner>
                <active>0</active>
                <carrierimage>images/homerunner_grey.png</carrierimage>
                <model>CoolRunner\Shipping\Model\Carrier\HomeRunner</model>
            </cr_homerunner>
            <cr_bring>
                <active>0</active>
                <carrierimage>images/bring.png</carrierimage>
                <model>CoolRunner\Shipping\Model\Carrier\Bring</model>
            </cr_bring>
            <cr_coolrunner>
                <active>0</active>
                <carrierimage>images/coolrunner.png</carrierimage>
                <model>CoolRunner\Shipping\Model\Carrier\CoolRunner</model>
            </cr_coolrunner>
            <cr_dao>
                <active>0</active>
                <carrierimage>images/dao.png</carrierimage>
                <model>CoolRunner\Shipping\Model\Carrier\DAO</model>
            </cr_dao>
            <cr_dhl>
                <active>0</active>
                <carrierimage>images/dhl.png</carrierimage>
                <model>CoolRunner\Shipping\Model\Carrier\DHL</model>
            </cr_dhl>
            <cr_gls>
                <active>0</active>
                <carrierimage>images/gls.png</carrierimage>
                <model>CoolRunner\Shipping\Model\Carrier\GLS</model>
            </cr_gls>
            <cr_posti>
                <active>0</active>
                <carrierimage>images/posti.png</carrierimage>
                <model>CoolRunner\Shipping\Model\Carrier\Posti</model>
            </cr_posti>
            <cr_postnord>
                <active>0</active>
                <carrierimage>images/postnord.png</carrierimage>
                <model>CoolRunner\Shipping\Model\Carrier\Posti</model>
            </cr_postnord>
        </carriers>
    </default>
</config>
