<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <cr_settings>
            <activation>
                <enable>0</enable>
            </activation>
        </cr_settings>
        <cr_homerunner>
            <activation>
                <enable>0</enable>
                <carrierimage>images/homerunner_grey.png</carrierimage>
            </activation>
        </cr_homerunner>
        <cr_dhl>
            <activation>
                <enable>0</enable>
                <carrierimage>images/dhl.png</carrierimage>
            </activation>
        </cr_dhl>
        <cr_gls>
            <activation>
                <enable>0</enable>
                <carrierimage>images/gls.png</carrierimage>
            </activation>
        </cr_gls>
        <cr_postnord>
            <activation>
                <enable>0</enable>
                <carrierimage>images/pdk.png</carrierimage>
            </activation>
        </cr_postnord>
        <cr_dao>
            <activation>
                <enable>0</enable>
                <carrierimage>images/dao.png</carrierimage>
            </activation>
        </cr_dao>
        <cr_bring>
            <activation>
                <enable>0</enable>
                <carrierimage>images/bring.png</carrierimage>
            </activation>
        </cr_bring>
        <cr_posti>
            <activation>
                <enable>0</enable>
                <carrierimage>images/posti.png</carrierimage>
            </activation>
        </cr_posti>
        <cr_cooleurope>
            <activation>
                <enable>0</enable>
                <carrierimage>images/coolrunner.png</carrierimage>
            </activation>
        </cr_cooleurope>
    </default>
</config>
