<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="coolrunner" translate="label" sortOrder="100">
            <label>CoolRunner</label>
        </tab>
        <section id="cr_settings" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Generelle indstillinger</label>
            <tab>coolrunner</tab>
            <resource>CoolRunner_Shipping::coolrunner_config</resource>
            <group id="activation" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>CoolRunner</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Aktiver CoolRunner</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Efter opsætning af CoolRunner indstillingerne kan du tilgå Salg > Forsendelsesmetoder og opsætte de forskellige metoder her.</comment>
                </field>
            </group>
            <group id="credentials" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Webservice</label>
                <field id="cr_username" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Brugernavn</label>
                    <comment>Indtast dit brugernavn fra CoolRunner.dk > Integration > Webservice</comment>
                </field>
                <field id="cr_token" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Token</label>
                    <comment>Indtast dit token fra CoolRunner.dk > Integration > Webservice</comment>
                </field>
            </group>
            <group id="agreement" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Aftaleindstillinger</label>
                <field id="cr_type" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Lagerhåndtering</label>
                    <comment>Vælge din lageropsætning (Eget lager eller PCN)</comment>
                    <source_model>CoolRunner\Shipping\Model\Config\Source\AgreementTypes</source_model>
                </field>
                <field id="cr_printformat" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Printformat</label>
                    <comment>Vælge størrelsen på dit printformat.</comment>
                    <source_model>CoolRunner\Shipping\Model\Config\Source\PrintTypes</source_model>
                </field>
                <field id="cr_makeshipment" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Opret "Shipment" ved ny label</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Efter oprettelse af ny ordre kan du vælge om magento skal oprette en ny shipment for ordren</comment>
                </field>
            </group>
        </section>

        <section id="carriers" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="cr_homerunner" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>CoolRunner: HomeRunner</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Aktiver</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Vælge om leverandøren skal være aktiv</comment>
                </field>
                <field id="methods" translate="label" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Metoder</label>
                    <frontend_model>CoolRunner\Shipping\Block\Adminhtml\Form\Field\Methods</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment>Opsæt leverandørens forskellige metoder herunder. For, at finde din pris hos CoolRunner gøres dette ved, at tilgå CoolRunner.dk og her logger du ind og tilgår menupunktet "Priser". </comment>
                </field>
                <field id="pricerules" translate="label" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Prisregler</label>
                    <frontend_model>CoolRunner\Shipping\Block\Adminhtml\Form\Field\PriceRules</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment>Opsæt forskellige prisregler ud fra vægt, pris, postnummer mm.</comment>
                </field>
            </group>

            <group id="cr_gls" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>CoolRunner: GLS</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Aktiver</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Vælge om leverandøren skal være aktiv</comment>
                </field>
                <field id="methods" translate="label" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Metoder</label>
                    <frontend_model>CoolRunner\Shipping\Block\Adminhtml\Form\Field\Methods</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment>Opsæt leverandørens forskellige metoder herunder. For, at finde din pris hos CoolRunner gøres dette ved, at tilgå CoolRunner.dk og her logger du ind og tilgår menupunktet "Priser". </comment>
                </field>
                <field id="pricerules" translate="label" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Prisregler</label>
                    <frontend_model>CoolRunner\Shipping\Block\Adminhtml\Form\Field\PriceRules</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment>Opsæt forskellige prisregler ud fra vægt, pris, postnummer mm.</comment>
                </field>
            </group>

            <group id="cr_dhl" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>CoolRunner: DHL</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Aktiver</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Vælge om leverandøren skal være aktiv</comment>
                </field>
                <field id="methods" translate="label" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Metoder</label>
                    <frontend_model>CoolRunner\Shipping\Block\Adminhtml\Form\Field\Methods</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment>Opsæt leverandørens forskellige metoder herunder. For, at finde din pris hos CoolRunner gøres dette ved, at tilgå CoolRunner.dk og her logger du ind og tilgår menupunktet "Priser".</comment>
                </field>
                <field id="pricerules" translate="label" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Prisregler</label>
                    <frontend_model>CoolRunner\Shipping\Block\Adminhtml\Form\Field\PriceRules</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment>Opsæt forskellige prisregler ud fra vægt, pris, postnummer mm.</comment>
                </field>
            </group>

            <group id="cr_bring" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>CoolRunner: Bring</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Aktiver</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Vælge om leverandøren skal være aktiv</comment>
                </field>
                <field id="methods" translate="label" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Metoder</label>
                    <frontend_model>CoolRunner\Shipping\Block\Adminhtml\Form\Field\Methods</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment>Opsæt leverandørens forskellige metoder herunder. For, at finde din pris hos CoolRunner gøres dette ved, at tilgå CoolRunner.dk og her logger du ind og tilgår menupunktet "Priser". </comment>
                </field>
                <field id="pricerules" translate="label" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Prisregler</label>
                    <frontend_model>CoolRunner\Shipping\Block\Adminhtml\Form\Field\PriceRules</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment>Opsæt forskellige prisregler ud fra vægt, pris, postnummer mm.</comment>
                </field>
                <field id="amountdroppoint" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Antal pakkeshops</label>
                    <comment>Antal af pakkeshops der skal vises for dette fragtsels (maks 10 styks)</comment>
                </field>
            </group>

            <group id="cr_coolrunner" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>CoolRunner: CoolEurope</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Aktiver</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Vælge om leverandøren skal være aktiv</comment>
                </field>
                <field id="methods" translate="label" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Metoder</label>
                    <frontend_model>CoolRunner\Shipping\Block\Adminhtml\Form\Field\Methods</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment>Opsæt leverandørens forskellige metoder herunder. For, at finde din pris hos CoolRunner gøres dette ved, at tilgå CoolRunner.dk og her logger du ind og tilgår menupunktet "Priser".</comment>
                </field>
                <field id="pricerules" translate="label" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Prisregler</label>
                    <frontend_model>CoolRunner\Shipping\Block\Adminhtml\Form\Field\PriceRules</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment>Opsæt forskellige prisregler ud fra vægt, pris, postnummer mm.</comment>
                </field>
            </group>

            <group id="cr_dao" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>CoolRunner: DAO</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Aktiver</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Vælge om leverandøren skal være aktiv</comment>
                </field>
                <field id="methods" translate="label" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Metoder</label>
                    <frontend_model>CoolRunner\Shipping\Block\Adminhtml\Form\Field\Methods</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment>Opsæt leverandørens forskellige metoder herunder. For, at finde din pris hos CoolRunner gøres dette ved, at tilgå CoolRunner.dk og her logger du ind og tilgår menupunktet "Priser". </comment>
                </field>
                <field id="pricerules" translate="label" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Prisregler</label>
                    <frontend_model>CoolRunner\Shipping\Block\Adminhtml\Form\Field\PriceRules</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment>Opsæt forskellige prisregler ud fra vægt, pris, postnummer mm.</comment>
                </field>
            </group>

            <group id="cr_posti" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>CoolRunner: Posti</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Aktiver</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Vælge om leverandøren skal være aktiv</comment>
                </field>
                <field id="methods" translate="label" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Metoder</label>
                    <frontend_model>CoolRunner\Shipping\Block\Adminhtml\Form\Field\Methods</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment>Opsæt leverandørens forskellige metoder herunder. For, at finde din pris hos CoolRunner gøres dette ved, at tilgå CoolRunner.dk og her logger du ind og tilgår menupunktet "Priser".</comment>
                </field>
                <field id="pricerules" translate="label" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Prisregler</label>
                    <frontend_model>CoolRunner\Shipping\Block\Adminhtml\Form\Field\PriceRules</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment>Opsæt forskellige prisregler ud fra vægt, pris, postnummer mm.</comment>
                </field>
            </group>

            <group id="cr_postnord" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>CoolRunner: PostNord</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Aktiver</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Vælge om leverandøren skal være aktiv</comment>
                </field>
                <field id="methods" translate="label" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Metoder</label>
                    <frontend_model>CoolRunner\Shipping\Block\Adminhtml\Form\Field\Methods</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment>Opsæt leverandørens forskellige metoder herunder. For, at finde din pris hos CoolRunner gøres dette ved, at tilgå CoolRunner.dk og her logger du ind og tilgår menupunktet "Priser". </comment>
                </field>
                <field id="pricerules" translate="label" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Prisregler</label>
                    <frontend_model>CoolRunner\Shipping\Block\Adminhtml\Form\Field\PriceRules</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment>Opsæt forskellige prisregler ud fra vægt, pris, postnummer mm.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
